
<%= div_for project do %>

  <h4><%= link_to project.name, project %></h4>
  <span class="priority">
    <%= project.priority_name %>
  </span>
  <p class="description">
    <%= project.description %>
  </p>
 <p class="duedate">
    <%= project.due %>
  </p>
  <div class="meta">
    <%= link_to "Edit", edit_project_path(project) %> |
    <%= link_to "Delete", project, :confirm => "Are you sure?", :method => :delete %>
  </div>
<% end %>